</div>


<footer class="footer js-footer">
   <div class="container">
       <div class="footer__wrapper">
           <div class="footer-item">
               <h3>Информация для покупателя</h3>
                <ul>
                    <li>
                        <a href="#">Оплата и доставка</a>
                    </li>
                    <li>
                        <a href="#">О магазине</a>
                    </li>
                    <li>
                        <a href="#">Политика возвратов</a>
                    </li>
                    <li>
                        <a href="#">Карта сайта</a>
                    </li>
                    <li>
                        <a href="#">Гарантия</a>
                    </li>
                    <li>
                        <a href="#">Вход в кабинет</a>
                    </li>
                </ul>
           </div>

           <div class="footer-item">
               <h3>График работы</h3>

                <ul class="one-line__list">
                    <li>
                        Понедельник - пятница с 8:00 до 19:00
                    </li>
                    <li>
                        Суббота с 10:00 до 15:00
                    </li>
                </ul>
           </div>

           <div class="footer-item">
               <h3>Контакты</h3>
                <ul>
                    <li>
                        <a href="tel:+380674052353">(067)405-23-53</a>
                    </li>
                    <li>
                        <a href="tel:+380674052353">(067)405-23-53</a>
                    </li>
                    <li>
                        <a href="tel:+380674052353">(067)405-23-53</a>
                    </li>
                    <li>
                        <a href="mailto:info.info@gmail.com">info.info@gmail.com</a>
                    </li>
                    <li>
                        <a href="tel:+380674052353">(067)405-23-53</a>
                    </li>
               </ul>
           </div>
       </div>
   </div>
</footer>

<div class="bottom-link">
    <h2>Запитайте експерта</h2>
    <h6>
        про оптимальні рішення для вашого авто
    </h6>

    <a href="tel:+3809308542012" class="btn">
        <img src="img/phone-icon.svg" alt="alt">
        093 0854 20 12
    </a>
</div>


<script src="js/main.min.js"></script>

</body>
</html>